<!doctype html>
<html lang="en">
<head>
  <script src="http://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/d3.slider.css">
  <script src="/js/d3.slider.js"></script>
  <script src="/js/rangeSlider.js"></script>
</head>
    <h2>Range Slider with event, values: <span id="slider3textmin">10</span>, <span id="slider3textmax">25</span></h2>
    <div id="slider3"></div>
</body>
</html>
